.no-validation .form-check-input:valid,
.no-validation .form-check-input:invalid {
  background-image: none !important;
  background-color: inherit !important;
  border-color: inherit !important;
  padding-right: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.no-validation .form-check-label {
  color: inherit !important;
}

.no-validation .form-check-input:checked {
  background-color: #0718c4 !important;
  border-color: #0718c4 !important;
}
