.fade {
  transition: opacity 300ms, transform 300ms, height 300ms;
}

.row-transition-enter {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.row-transition-enter-active {
  opacity: 1;
  max-height: 1000px; /* adjust this value to accommodate the max height of your content */
  transition: opacity 300ms, max-height 300ms;
  overflow: hidden;
}

.row-transition-exit {
  opacity: 1;
  max-height: 1000px; /* adjust this value to accommodate the max height of your content */
  overflow: hidden;
}

.row-transition-exit-active {
  opacity: 0;
  max-height: 0;
  transition: opacity 300ms, max-height 300ms;
  overflow: hidden;
}

.class-prices-visible {
  max-height: 1000px; /* adjust this value to accommodate the max height of your content */
  overflow: hidden;
}

.class-prices-hidden {
  max-height: 0;
  overflow: hidden;
}
