.search {
  background-image: url("../../static/massimo-virgilio-xi4H7Z9MDfA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 25%;
}

.MuiFormControl-root,
.MuiInputBase-root,
.MuiInputAdornment-root,
.MuiInputBase-input {
  height: 37.6px;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  top: -7px !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-family: "Hammersmith One Regular", sans-serif !important;
}
